<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Dirk Rozich Murals</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='@Url.Content("~/Content/jquery.fancybox-buttons.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/jquery.fancybox-thumbs.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/jquery.fancybox.css")' rel="stylesheet" type="text/css" />
    <link  href='@Url.Content("~/Content/Slide.css")' rel="stylesheet" type="text/css" />
    <link  href='@Url.Content("~/Content/Site.css")' rel="stylesheet" type="text/css" />
    <link  href='@Url.Content("~/Content/Home.css")' rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox-thumbs.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox-buttons.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/slides.min.jquery.js")" type="text/javascript"></script>
    <script>
    $(function () {
        $('#slides').slides({
            play: 5000,
            pause: 1500,
            fadeSpeed: 250,
            slideSpeed: 0,
            effect: 'fade',
            hoverPause: true,
            animationStart: function (current) {
                $('.caption').animate({
                    bottom: -35
                }, 100);
                if (window.console && console.log) {
                    // example return of current slide number
                    console.log('animationStart on slide: ', current);
                };
            },
            animationComplete: function (current) {
                $('.caption').animate({
                    bottom: 0
                }, 200);
                if (window.console && console.log) {
                    // example return of current slide number
                    console.log('animationComplete on slide: ', current);
                };
            },
            slidesLoaded: function () {
                $('.caption').animate({
                    bottom: 0
                }, 200);
            }
        });
    });
	</script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="toolbar">
        
    </div>
    <div id="home-body-wrapper">
        <nav>
                        <ul id="menu">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/home/Murals">Murals</a></li>
                            <li><a href="/home/Illustration">Illustration</a></li>
                            <li><a href="/home/InTheStudio">In the studio</a></li>
                            <li><a href="/home/Bio">Bio</a></li>
                            <li><a href="#">D'sign Elixir</a></li>
                            <li><a href="/home/InTheMedia">Media</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="/home/Contact">Contact</a></li>
                        </ul>
                    </nav>
        <div id="home-header">
            @RenderSection("HeaderContent", required: false)
        </div>

        <div id="body-home">
            @RenderBody()
        </div>

    </div>
</body>
</html>
